@font-face {
  font-family: "oswald";
  src: url("./Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "opensans";
  src: url("../OpenSans-VariableFont_wdth,wght.ttf");
}
footer, .mainSobreMi, .mainLectura .leeConmigo, .texto-blogs, .mainBlog .titulo-blog, .letraInicio, header .menuPrincipal .itemMenu {
  color: white;
  font-family: "oswald";
}

.mainSobreMi p, .mainLectura .leeConmigo .texto, .texto-blogs .conclusion, .texto-blogs p, .letraInicio .idea, .mainInicio .row .texto-bienvenida {
  color: white;
  font-family: "opensans";
}

.mainContacto {
  color: black;
  font-family: "oswald";
}

.mainContacto p {
  color: black;
  font-family: "opensans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.contenedor-foto {
  text-align: center;
}
.contenedor-foto img {
  border-radius: 10%;
}

.bienvenida {
  padding: 3rem 0 3rem;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(46, 46, 46);
}

header {
  background-color: black;
  min-height: 15vh;
  padding-bottom: 2rem;
}
header .cartel-spotify {
  background-color: #1ed760;
  text-align: center;
  padding: 0.3rem;
}
header .cartel-spotify a {
  color: black;
  font-weight: normal;
  font-size: 17px;
}
header .menuPrincipal {
  list-style-type: none;
  gap: 2rem;
  padding-left: 5rem;
  padding-top: 1rem;
}
header .menuPrincipal .itemMenu {
  font-size: 2rem;
  padding: 1rem;
}
header .nav-blog,
header .nav-lectura,
header .nav-sobre-mi,
header .nav-contacto {
  border-bottom: 1px solid #ffffff;
}

.mainInicio {
  background-color: #080808;
}
.mainInicio .row {
  --bs-gutter-x: 0rem;
}
.imgFondo {
  background-image: url("../pictures/Fondo Turistas.jpg");
  min-height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.letraInicio .se-turista {
  font-size: 55px;
  opacity: 75%;
  padding-bottom: 4rem;
  text-align: center;
}
.letraInicio .la-idea {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  padding: 1rem;
  padding-bottom: 1rem;
}
.letraInicio .idea {
  text-align: justify;
  font-weight: lighter;
  font-size: 25px;
}
.letraInicio .invitacion {
  text-align: right;
  margin-bottom: 0px;
}

.mainBlog {
  background-color: black;
}
.mainBlog .titulo-blog {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0rem 5rem;
}
.mainBlog .contenedor-tarjeta {
  background-color: #080808 !important;
  transition: 0.5s;
}
.mainBlog .contenedor-tarjeta .tarjeta {
  color: white;
}
.mainBlog .contenedor-tarjeta:hover {
  background-color: #2a2a2a !important;
}
.mainBlog .contenedor-tarjeta:hover .tituloTarjeta {
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
.mainBlog .animaBlog {
  animation: scale-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.mainBlog .anima1 {
  animation-delay: 0.3s;
}
.mainBlog .anima2 {
  animation-delay: 0.6s;
}
.mainBlog .anima3 {
  animation-delay: 0.9s;
}

.texto-blogs h1 {
  padding-bottom: 3rem;
  font-size: 4rem;
}
.texto-blogs h2 {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
}
.texto-blogs h4 {
  padding-bottom: 1.5rem;
}
.texto-blogs h6 {
  padding-bottom: 1rem;
}
.texto-blogs .img-portada {
  padding: 3rem 0 3rem;
}
.texto-blogs p {
  font-size: 2rem;
  font-weight: lighter;
}
.texto-blogs .conclusion {
  background-color: white;
  color: black;
  padding: 1rem;
}

.libro-recomendado {
  background-color: white;
  color: black;
  font-family: "oswald";
  padding: 2rem;
}

.img-padding-b {
  padding-bottom: 3.5rem;
}
@keyframes scale-in-tl {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
.mainLectura .leeConmigo {
  background-color: black;
}
.mainLectura .leeConmigo .row {
  --bs-gutter-x: 0rem;
}
.mainSobreMi {
  background-color: black;
}
.mainSobreMi h1 {
  font-size: 3rem;
  padding-bottom: 3.5rem;
}
.mainSobreMi p {
  font-weight: lighter;
  font-size: 2rem;
  padding-bottom: 3rem;
}
.mainSobreMi img {
  margin-bottom: 3rem;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.mainSobreMi .ultimo-p {
  margin-bottom: 0rem;
}
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
.mainContacto {
  padding: 2rem;
}
.mainContacto button {
  margin: 1rem 0 1rem;
}

footer {
  background-color: black;
  align-items: center;
  padding: 2rem;
}
footer .redes {
  font-size: 3rem;
  text-align: center;
}
footer .redes a {
  padding: 0rem 1rem;
}

.footerInicio {
  background-color: #080808;
}

.logo-contacto-footer {
  padding-bottom: 2rem;
}/*# sourceMappingURL=styles.css.map */