footer {
    background-color: $fondoNegro;
    align-items: center;
    padding: 2rem;
    color: $letraBlanca;
    font-family: $oswald;

    .redes {
        font-size: 1.5rem;
        text-align: center;
    }
}

.footerInicio {
    background-color: #080808;
}

.logo-contacto-footer {
    padding-bottom: 2rem;
}
