footer {
    background-color: $fondoNegro;
    align-items: center;
    padding: 2rem;
    @extend %letraBlancaOswald;

    .redes {
        font-size: 3rem;
        text-align: center;

        a {
            padding: 0rem 1rem;
        }
    }
}

.footerInicio {
    background-color: #080808;
}

.logo-contacto-footer {
    padding-bottom: 2rem;
}
