.mainSobreMi {
    background-color: $fondoNegro;
    @extend %letraBlancaOswald;

    h1 {
        font-size: 3rem;
        padding-bottom: 3.5rem;
    }

    p {
        @extend %letraBlancaOpensans;
        font-weight: lighter;
        font-size: 2rem;
        padding-bottom: 3rem;
    }

    img {
        margin-bottom: 3rem;
        -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

    .ultimo-p {
        margin-bottom: 0rem;
    }
}



// Animaciones 
@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
  


