// MAIN BLOG --------------------------------
.mainBlog {
    background-color: $fondoNegro;

    .titulo-blog {
        font-family: $oswald;
        color: $letraBlanca;
        text-align: center;
        font-size: 3rem;
        padding: 1rem 0rem 5rem;
    }

    .contenedor-tarjeta {
        background-color: #080808 !important;
    
        .tarjeta {
            color: $letraBlanca;
        }
    }

    .animaBlog {
        -webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @for $item from 1 through 3 {
        .anima#{$item} {
            animation-delay: $item*.3s;
        }
    }
}

// MAIN BLOGs --------------------------------
.texto-blogs {
    color: $letraBlanca;
    font-family: $oswald;

    h1 {
        padding-bottom: 3rem;
        font-size: 4rem;
    }

    h2 {
        padding: 2rem;
        font-size: 3rem;
        text-align: center;
    }

    h4 {
        padding-bottom: 1.5rem;
    }

    h6 {
        padding-bottom: 1rem;
    }

    .img-portada {
        padding: 3rem 0 3rem;
    }

    p {
        font-size: 2rem;
        font-weight: lighter;
    }

    .conclusion {
        background-color: $fondoBlanco;
        color: black;
        padding: 1rem;
    }
}

.libro-recomendado {
    background-color: $fondoBlanco;
    color: black;
    font-family: "oswald";
    padding: 2rem;
}

.img-padding-b {
    padding-bottom: 3.5rem;
}



// Animaciones  ---------------------------------
@-webkit-keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
}
@keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
}
  
  
  