* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.contenedor-foto {
    text-align: center;

    img {
        border-radius: $radius10;
    }
}

.bienvenida {
    padding: 3rem 0 3rem;
}