.mainSobreMi {
    background-color: $fondoNegro;
    color: $letraBlanca;
    font-family: $oswald;

    h1 {
        font-size: 3rem;
        padding-bottom: 3.5rem;
    }

    p {
        font-weight: lighter;
        font-size: 2rem;
        padding-bottom: 3rem;
    }

    img {
        margin-bottom: 3rem;
    }

    .ultimo-p {
        margin-bottom: 0rem;
    }
}






