@font-face {
    font-family: "oswald";
    src: url("./Oswald-VariableFont_wght.ttf");
}

/*@font-face {
    font-family: "opensans";
    src: url("../OpenSans-VariableFont_wdth_wght.ttf");
}*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


%letraBlancaOswald {
    color: white;
    font-family: "oswald";
}

%letraBlancaOpensans {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

%letraNegraOswald {
    color: black;
    font-family: "oswald";
}
%letraNegraOpensans {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

$fondoNegro: black;
$fondoBlanco: white;

$radius10: 10%;