$oswald: "oswald";
$letraNegra: black;
$letraBlanca: white;
$fondoNegro: black;
$fondoBlanco: white;
@font-face {
    font-family: "oswald";
    src: url("./Oswald-VariableFont_wght.ttf");
}

$radius10: 10%;